[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yahoo-fantasy-api = "*"
matplotlib = "*"
lxml = "*"
beautifulsoup4 = "*"
html5lib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
